name: CI

on:
  push:
    paths:
      - '**.go'
      - '**.mod'
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.12'

      - name: Run Tests
        run: chmod 0400 testdata/test.key && 
                go test ./...
