name: Integration Tests

on:
  push:
    branches:
      - main
  schedule:
    - cron: '30 2 * * *'
  workflow_dispatch:

jobs:
  integration-test:
    runs-on: ubuntu-latest
    environment: integration-secure 
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Setup Test Key
        run: chmod 0400 testdata/test.key

      - name: Run Integration Tests
        env:
          IRDATA_TEST_KEY_DATA: ${{ secrets.INTEGRATION_KEY_DATA }}
          IRDATA_TEST_CREDS_DATA: ${{ secrets.INTEGRATION_CREDS_DATA }}
        run: go test -tags=integration -v ./...
